backend/resume_parser/__pycache__/settings.cpython-313.pyc
backend/resume_parser/__pycache__/urls.cpython-313.pyc
backend/resumes/__pycache__/models.cpython-313.pyc
backend/resumes/__pycache__/urls.cpython-313.pyc
backend/resumes/__pycache__/views.cpython-313.pyc
